arm-templates/logic-app.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "mdc-remediate-s3-block-public-access",
      "metadata": {
        "description": "Name of the Logic App"
      }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for the Logic App"
      }
    },
    "azureFunctionUrl": {
      "type": "string",
      "defaultValue": "https://<your-function-app>.azurewebsites.net/api/remediate-s3-public-access",
      "metadata": {
        "description": "Azure Function URL for S3 Block Public Access remediation"
      }
    },
    "azureFunctionApiKey": {
      "type": "securestring",
      "metadata": {
        "description": "API key for authenticating with Azure Function (x-api-key header)"
      }
    },
    "fallbackEmail": {
      "type": "string",
      "metadata": {
        "description": "Fallback email if no owner is found in governance rules"
      }
    }
  },
  "variables": {
    "workflowSchema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "office365ConnectionName": "[concat(parameters('logicAppName'), '-o365')]",
    "securityReaderRoleId": "39bc4728-0917-49c7-9d2c-d95423bc2eb4"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 Outlook - MDC Notifications",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
      ],
      "identity": {
        "type": "SystemAssigned"
      },
      "tags": {
        "purpose": "MDC-AWS-Remediation",
        "recommendation": "S3-Block-Public-Access"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "[variables('workflowSchema')]",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "functionUrl": {
              "type": "String"
            },
            "functionApiKey": {
              "type": "SecureString"
            },
            "subscriptionId": {
              "type": "String"
            },
            "fallbackEmail": {
              "type": "String"
            },
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          },
          "triggers": {
            "When_a_MDC_recommendation_is_triggered": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemaId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "properties": {
                          "type": "object",
                          "properties": {
                            "displayName": {
                              "type": "string"
                            },
                            "status": {
                              "type": "object"
                            },
                            "resourceDetails": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "Parse_MDC_Alert": {
              "type": "ParseJson",
              "runAfter": {},
              "inputs": {
                "content": "@triggerBody()",
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemaId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "properties": {
                          "type": "object",
                          "properties": {
                            "displayName": {
                              "type": "string"
                            },
                            "resourceDetails": {
                              "type": "object",
                              "properties": {
                                "Source": {
                                  "type": "string"
                                },
                                "Id": {
                                  "type": "string"
                                },
                                "ConnectorId": {
                                  "type": "string"
                                },
                                "Region": {
                                  "type": "string"
                                },
                                "NativeCloudUniqueIdentifier": {
                                  "type": "string"
                                }
                              }
                            },
                            "owner": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string"
                                }
                              }
                            },
                            "metadata": {
                              "type": "object",
                              "properties": {
                                "owner": {
                                  "type": "object",
                                  "properties": {
                                    "email": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "Extract_AWS_Account_ID": {
              "type": "Compose",
              "runAfter": {
                "Parse_MDC_Alert": [
                  "Succeeded"
                ]
              },
              "inputs": "@last(split(body('Parse_MDC_Alert')?['data']?['properties']?['resourceDetails']?['Id'], '-'))"
            },
            "Extract_Bucket_Name": {
              "type": "Compose",
              "runAfter": {
                "Parse_MDC_Alert": [
                  "Succeeded"
                ]
              },
              "inputs": "@if(contains(body('Parse_MDC_Alert')?['data']?['properties']?['displayName'], 'bucket level'), last(split(body('Parse_MDC_Alert')?['data']?['properties']?['resourceDetails']?['Id'], ':::')), null)"
            },
            "Query_Governance_Rules": {
              "type": "Http",
              "runAfter": {
                "Parse_MDC_Alert": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "method": "GET",
                "uri": "https://management.azure.com/subscriptions/@{parameters('subscriptionId')}/providers/Microsoft.Security/governanceRules?api-version=2022-01-01-preview",
                "authentication": {
                  "type": "ManagedServiceIdentity"
                }
              }
            },
            "Parse_Governance_Response": {
              "type": "ParseJson",
              "runAfter": {
                "Query_Governance_Rules": [
                  "Succeeded",
                  "Failed"
                ]
              },
              "inputs": {
                "content": "@if(equals(outputs('Query_Governance_Rules')['statusCode'], 200), body('Query_Governance_Rules'), json('{\"value\":[]}'))",
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "properties": {
                            "type": "object",
                            "properties": {
                              "ownerSource": {
                                "type": "object",
                                "properties": {
                                  "ownerType": { "type": "string" },
                                  "type": { "type": "string" },
                                  "value": { "type": "string" }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "Extract_Owner_Email": {
              "type": "Compose",
              "runAfter": {
                "Parse_Governance_Response": [
                  "Succeeded"
                ]
              },
              "inputs": "@coalesce(body('Parse_MDC_Alert')?['data']?['properties']?['owner']?['email'], if(greater(length(body('Parse_Governance_Response')?['value']), 0), body('Parse_Governance_Response')?['value'][0]?['properties']?['ownerSource']?['value'], null), body('Parse_MDC_Alert')?['data']?['properties']?['metadata']?['owner']?['email'], parameters('fallbackEmail'))"
            },
            "Condition_Check_Recommendation": {
              "type": "If",
              "runAfter": {
                "Extract_AWS_Account_ID": [
                  "Succeeded"
                ],
                "Extract_Bucket_Name": [
                  "Succeeded"
                ],
                "Extract_Owner_Email": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "contains": [
                      "@body('Parse_MDC_Alert')?['data']?['properties']?['displayName']",
                      "S3 Block Public Access"
                    ]
                  }
                ]
              },
              "actions": {
                "Call_Azure_Function_Remediation": {
                  "type": "Http",
                  "runAfter": {},
                  "inputs": {
                    "method": "POST",
                    "uri": "@parameters('functionUrl')",
                    "headers": {
                      "Content-Type": "application/json",
                      "x-api-key": "@parameters('functionApiKey')"
                    },
                    "body": {
                      "accountId": "@outputs('Extract_AWS_Account_ID')",
                      "bucketName": "@outputs('Extract_Bucket_Name')",
                      "recommendationId": "@body('Parse_MDC_Alert')?['data']?['properties']?['displayName']",
                      "resourceId": "@body('Parse_MDC_Alert')?['data']?['properties']?['resourceDetails']?['Id']",
                      "source": "Microsoft-Defender-for-Cloud",
                      "timestamp": "@utcNow()"
                    }
                  }
                },
                "Parse_Function_Response": {
                  "type": "ParseJson",
                  "runAfter": {
                    "Call_Azure_Function_Remediation": [
                      "Succeeded"
                    ]
                  },
                  "inputs": {
                    "content": "@body('Call_Azure_Function_Remediation')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "accountId": {
                          "type": "string"
                        },
                        "configuration": {
                          "type": "object",
                          "properties": {
                            "BlockPublicAcls": { "type": "boolean" },
                            "IgnorePublicAcls": { "type": "boolean" },
                            "BlockPublicPolicy": { "type": "boolean" },
                            "RestrictPublicBuckets": { "type": "boolean" }
                          }
                        }
                      }
                    }
                  }
                },
                "Send_Success_Email": {
                  "type": "ApiConnection",
                  "runAfter": {
                    "Parse_Function_Response": [
                      "Succeeded"
                    ]
                  },
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/v2/Mail",
                    "body": {
                      "To": "@{outputs('Extract_Owner_Email')}",
                      "Subject": "✅ MDC Remediation: S3 Block Public Access Applied - Account @{body('Parse_Function_Response')?['accountId']}",
                      "Body": "<html><body><h2>S3 Block Public Access Remediation Successful</h2><p>Microsoft Defender for Cloud detected a security recommendation and automatic remediation was applied.</p><hr/><h3>📋 Summary</h3><table border='1' cellpadding='8' style='border-collapse: collapse;'><tr><td><strong>AWS Account ID</strong></td><td>@{body('Parse_Function_Response')?['accountId']}</td></tr><tr><td><strong>Recommendation</strong></td><td>S3 Block Public Access setting should be enabled</td></tr><tr><td><strong>Owner</strong></td><td>@{outputs('Extract_Owner_Email')}</td></tr><tr><td><strong>Status</strong></td><td>@{body('Parse_Function_Response')?['status']}</td></tr><tr><td><strong>Timestamp</strong></td><td>@{utcNow()}</td></tr></table><h3>🔒 Configuration Applied (Evidence)</h3><table border='1' cellpadding='8' style='border-collapse: collapse;'><tr><td><strong>BlockPublicAcls</strong></td><td>✅ True</td></tr><tr><td><strong>IgnorePublicAcls</strong></td><td>✅ True</td></tr><tr><td><strong>BlockPublicPolicy</strong></td><td>✅ True</td></tr><tr><td><strong>RestrictPublicBuckets</strong></td><td>✅ True</td></tr></table><h3>📄 Full Response</h3><pre>@{body('Parse_Function_Response')}</pre><hr/><p><em>This is an automated notification from MDC AWS Remediation workflow.</em></p></body></html>",
                      "IsHtml": true,
                      "Importance": "High"
                    }
                  }
                },
                "Response_Success": {
                  "type": "Response",
                  "runAfter": {
                    "Send_Success_Email": [
                      "Succeeded"
                    ]
                  },
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "status": "remediated",
                      "awsAccountId": "@outputs('Extract_AWS_Account_ID')",
                      "recommendation": "S3 Block Public Access",
                      "functionResponse": "@body('Parse_Function_Response')"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Response_Skipped": {
                    "type": "Response",
                    "runAfter": {},
                    "inputs": {
                      "statusCode": 200,
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "body": {
                        "status": "skipped",
                        "reason": "Recommendation does not match S3 Block Public Access"
                      }
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "functionUrl": {
            "value": "[parameters('azureFunctionUrl')]"
          },
          "functionApiKey": {
            "value": "[parameters('azureFunctionApiKey')]"
          },
          "subscriptionId": {
            "value": "[subscription().subscriptionId]"
          },
          "fallbackEmail": {
            "value": "[parameters('fallbackEmail')]"
          },
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                "connectionName": "[variables('office365ConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'office365')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppUrl": {
      "type": "string",
      "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'When_a_MDC_recommendation_is_triggered'), '2019-05-01').value]"
    },
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "logicAppIdentityPrincipalId": {
      "type": "string",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '2019-05-01', 'full').identity.principalId]"
    }
  }
}
